<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gig created!</h1>
    <p>
      Thank you for creating a gig on <%= @gig.date %> @ <%= @gig.venue.split.map(&:capitalize).join(' ') %>!
    </p>
    <p>Regards,</p>
    <p>LineUp Team</p>
  </body>
</html>