<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new request!</h1>
    <p>
      You have received a request for your gig on <%= @gig.date %> @ <%= @gig.venue.split.map(&:capitalize).join(' ') %>!
    </p>
    <p>Login to the app to view your requests: <%=@url%></p>
    <p>Regards,</p>
    <p>LineUp Team</p>
  </body>
</html>