<div class="fixed-bottom">
  <div class="container d-inline-block border-rad fit-content float-right bg-light">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Enjoying the app? Make a donation!</a>
      </li>
    </ul>
  </div>
</div>