<div class = "fixed-bottom">
  <div class="container d-inline-block fit-content float-right">
    <ul class="nav donation border-rad">
      <li class="nav-item mx-0 my-0">
        <%= link_to "Enjoying the app? Make a donation!", new_donation_path, class: "nav-link active" %>
      </li>
    </ul>
  </div>
</div>