<div class="fixed-bottom">
  <div class="container d-inline-block border-rad fit-content float-right bg-light">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Enjoying the app? Make a donation!", new_donation_path, class: "nav-link active" %>
      </li>
    </ul>
  </div>
</div>