<nav class="flex md:justify-between bg-purple-300 p-5">
  <div>
    <a href="#">LineUp</a>
    <p id="hamburgerbtn" class="md:hidden bg-purple-800">menu</p>
  </div>
  <ul class="hidden md:flex md:flex-row" id="mobileMenu">
    <li class="pr-5"><a>What is LineUp?</a></li>
    <li class="pr-5"><a>Post a Gig</a></li>
    <li class="pr-5"><a>Browse Gigs</a></li>
    <li class="pr-5"><a>Browse Musos</a></li>
  </ul>
  <div class="hidden md:flex md:flex-row">
    <a href="#">Login</a>
    <a href="#">Sign Up</a>
  </div>
</nav>