<div class="container">
  <h1>What is LineUp?</h1>
  <p>Music industry is a tricky place to be in. Even more so when Melbourne is dealing with the aftermath of a global pandemic. Entertainment has been hit the hardest, and many acts in Melbourne simply haven't survived losing their gigs: professionals turn away from this vulnerable industry, semi-professional bands fall apart. Music industry is on it's way to recovery, but the effects of pandemic are still felt on multiple levels.</p>
  <p>We all know that being a musician involves a special sort of networking: going out, seeing gigs, jamming, having beers with strangers.</p> 
  <p>All of this is great fun for some people. But what if you can't do it? What if you work full time elsewhere and have a family you have to come home to? What if you are in recovery and can't maintain that type of leisure anymore? What if you are not too social as a person and spending time in a crowded pub in a group of strangers takes it out of you? What if socializing is simply still weird after being locked down for months?</p>
  <p>Well, this is where LineUp comes in.</p>
  <ul>
    <li>Find supports for your gig</li>
    <li>Discover acts of the style similar to yours and team up to organize shows</li>
    <li>Apply for shows as a potential support and go on the bill</li>
    <li>Do it all online with speed and comfort!</li>
  </ul>
</div>