<div class="custom-breakpoints">
  
  <%= link_to gigs_path, class:"hero-link" do %>
    <div class="jumbotron mx-2 p-2 border-rad hero-gigs d-flex flex-column justify-content-end">
      <h1 class="display-4 hero-text">Browse Gigs</h1>
      <p class="lead hero-text ml-2">Join shows that have available spaces for a support act.</p>
    </div>
  <% end %>

  <%= link_to profiles_path, class:"hero-link" do %>
    <div class="jumbotron p-2 border-rad hero-profiles d-flex flex-column justify-content-end">
      <h1 class="display-4 hero-text ml-2">Browse Musos</h1>
      <p class="lead hero-text ml-2">Team up with musos to organize shows.</p>
    </div>
  <% end %>
</div>