/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

body {
  background-color: #fffffb;
}

.navbar {
  background-color: #28081e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  color: #28081e;
}

p, a {
  font-family: 'Lato';
  font-weight: normal;
  letter-spacing: 0.3px;
  color: #28081e;
}

a {
  color: #b12026;
  text-decoration: none;
  &:hover {
    color: #1b5155;
  }
}

h5 {
    color: #1b5155;
}

.inverse {
  background-color:#fffffb;
  color: #28081e;
}

.dropdown-item:hover {
  background-color: none;
}

.btn {
  background-color: #421b1a;
  border: none;
  color: white;
  &:hover {
    color: #fffffb;
    text-shadow: 0.5px 0.5px #421b1a;
    background-color: #b12026;
    box-shadow: 0.5px 0.5px #421b1a;
  }
}

.badge {
  font-family: 'Open Sans';
  letter-spacing: 0.5px;
}

.navbar-icon {
  width: 30px; 
  height: 30px;
}

.fit-content {
  width: fit-content;
}

.border-rad {
  border-radius: 12px;
}

.request-card {
  margin: 30px;
  width: 90%;
  height: fit-content;
  border: 1px solid black;
}

.request-card-img {
  max-height: 100px;
  overflow: hidden;
}

.navbar-brand {
  font-family: 'Galada', 'Pattaya';
  font-size: 2.8em;
  color: #fffffb;
  text-shadow: 2px 2px #b12026;
  &:hover {
    color: #fffffb;
    text-shadow: 2px 2px #b12026;
  }
}

.nav-link {
  color: #fffffb;
  &:hover {
    color: #ffd7d9;
    text-shadow: 1px 1px #b12026;
  }
}

.nav-text {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 1.3em;
}

.filled {
  font-weight: bold;
  font-size: 1em;
  width: fit-content;
  background-color: #b12026;
  text-shadow: 1px 1px #421b1a;
  box-shadow: 0.3px 0.3px #421b1a;
}

.available {
  font-weight: bold;
  font-size: 1em;
  width: fit-content;
  background-color: #389750;
  text-shadow: 1px 1px #421b1a;
  box-shadow: 0.3px 0.3px #421b1a;
}

// external fonts

@font-face {
  font-family: 'Galada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/galada/v6/H4cmBXyGmcjXlUXO9SY_wrmwgg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pattaya/v6/ea8ZadcqV_zkHY-XBdet9kRHiVo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}