<div class="container">
  <%= link_to 'Back to gigs', gigs_path, class: 'float-right' %>
  <h1 class="mb-4">Post a Gig</h1>
  <%= render 'form', gig: @gig, styles: @styles, features: @features, musictypes: @musictypes %>
</div>